[submodule "components/libespfs"]
	path = components/libespfs
	url = git@github.com:userbogd/libespfs.git
[submodule "components/jReadWrite"]
	path = components/jReadWrite
	url = git@github.com:userbogd/jReadWrite.git
[submodule "components/webguiapp"]
	path = components/webguiapp
	url = git@gitlab.com:userbogd/webguiapp.git
[submodule "components/esp_modem"]
	path = components/esp_modem
	url = https://github.com/userbogd/esp_modem.git
[submodule "components/ttn-esp32"]
	path = components/ttn-esp32
	url = https://github.com/userbogd/ttn-esp32.git
