[submodule "components/esp_modem"]
	path = components/esp_modem
	url = https://github.com/userbogd/esp_modem.git
[submodule "components/ttn-esp32"]
	path = components/ttn-esp32
	url = https://github.com/userbogd/ttn-esp32.git
[submodule "components/webguiapp"]
	path = components/webguiapp
	url = https://gitlab.com/userbogd/webguiapp.git
[submodule "components/esp_cron"]
	path = components/esp_cron
	url = https://github.com/userbogd/esp_cron.git
[submodule "WEBUI_SRC/src/components/webguicomp"]
	path = WEBUI_SRC/src/components/webguicomp
	url = https://gitlab.com/userbogd/webguicomp.git
