.mono,.mono td,input,.plz td,body,.stg table,.mform {color:#000;font:14px consolas,monospace;padding-left:3px;}
body {background-color:#fff;margin:0px;}
.btn, #bt {color:#fff;font: 14px consolas,monospace;padding:15px 5px;min-width:100px;border-style:none;}
.brd,.mform {margin: 0px; overflow-y: auto; }
.mform {width: 100%; height:auto; margin-top:5px; box-sizing:border-box; padding:0 0 20px 0}
.frm {width:400px; margin:auto;}
.mono input {position:relative; left: 0px;}
.brd,.mform,#bt,.mform input,.mform select {border:solid 1px #CCCCCC;}
.btn, #bt{background-color:#ff0000;}
.wnd, .lwnd {overflow-y:auto;box-sizing:border-box;width:100%;height:410px;font:11px consolas,monospace;text-align:left}
.wnd td{font:11px consolas,monospace;text-align:left}
.lwnd{height:400px;}
#name{margin: 5px; padding:0px; font-size:14px}
.wd,.ctbox,.btbox {font: 11px consolas,monospace;line-height:1.0;margin:-2px 0 -1px 0;}
.btbox{width:100%;text-align:center;margin:5px}
.ctbox{width:80%; height:auto; padding:5px; margin-top:40px; margin-left:10%; box-sizing:border-box;}
.pwrbox{width:60%; height:auto; padding:5px; margin-top:50px; margin-left:20%; box-sizing:border-box;}
.pwrbox td,.ctbox td{font:12px consolas,monospace; width:30%;padding:0;margin:0}
.tmrbox{overflow-y: auto;box-sizing:border-box; width: 100%; height:400px;}
.tmrbox input,.tmrbox select,.tmrbox td {height:21px;margin:-1px 4px;font:12px consolas,monospace;background-color:#FFFFFF;}
.plz {padding:10px;}
.plz input{width:220px;height:40px}
.stg td{width:50%;padding:1px;margin:0}
.stg input, select {height:25px}
input[type="radio"] { margin-top: -1px; vertical-align: middle;}
.stg table{margin: 5px auto}
.rl{text-align:right;}
.resfail{padding:0;margin:auto; }
.btn:active{background-color: #606060;color: #ffffff;}
.btn:focus {outline: none;}
.vspc{margin:30px 0}
.sbtn{font:12px consolas,monospace;padding:5px;width:70px;}

#cont, #menu1{font-family:Tahoma,Arial,Helvetica,sans-serif;font-size:14px;}
#cont {float: left;text-align: center;list-style-type:none;padding:0 0;margin: 0 0;width: 100%;}
#conteiner{width:auto;height:auto;padding-top:5px;margin-right:0px;}
#menu1{position:relative;display:block;width:100%;height:auto;z-index:10;margin:0px 0px;}
#menu1 ul{position:relative;display:block;margin:0px;padding:0px;width:auto;height:auto;list-style:none;background:#ff0000;}
#menu1 > ul:after{display:block;width:100%;height:0px;clear:both;content:" ";}
#menu1 ul li{position:relative;display:block;float:left;width:25%;height:auto;}
#menu1 ul li a{display:block;padding:15px 5px;color:#ffffff;text-decoration:none;
text-align: center;box-sizing:border-box;user-select: none;}
#menu1 ul li > a:hover, #menu1 ul li:hover > a{background:#606060;color:#ffffff;}
#menu1 ul li ul{position:absolute;top:auto;left:0px;display:none;width:100%;background:#ff0000;}
#menu1 ul li:hover ul{display:block;}
#menu1 ul li ul li{float:none;width:100%;}
#menu1 ul li ul li a{display:block;text-transform:none;}
#menu1 ul li ul li:first-child a{border-top:0px;}
#menu1 ul li ul li a:hover{background:#606060;color:#ffffff;}
.dot {height: 30px;width: 30px;background-color: #d0d0d0;border-radius: 40%;display: inline-block; margin: 7px 20px}

