:root {
  /*========== Colors ==========*/
  --first-color: #152128;
  --first-color-light: #152128;
  --title-color: #9FA3A6;
  --header-color: #185273;
  --text-color: #9FA3A6;
  --text-color-light: #9FA3A6;
  --body-color: #0E1A21;
  --container-color: #0E1A21;
  --navy-color: #185273;

  /*========== Font and typography ==========*/
  --body-font: 'Consolas', monospace;
  --large-font-size: 1.2rem;
  --normal-font-size: 0.9rem;
  --small-font-size: .9rem;
  --smaller-font-size: .8rem;
  
    /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
}
.pwrbox{width:80%; height:auto; padding:5px; margin:10px auto; box-sizing:border-box;}
.pwrbox td {font: .9rem consolas, monospace; width:30%; padding:0;margin:0;}

.container{margin: 10px;
			display: flex;
			flex-wrap:wrap;}

div label input {margin-right: 100px;}

.cat{
  margin: 4px;
  background-color: var(--first-color);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  overflow: hidden;
  float: left;
}
.cat label {float: left; line-height: 2.6em; width: 2.6em; height: 2.6em;}
.cat label span {text-align: center; padding: 0px 0px; display: block;}
.cat label input { position: absolute; display: none;color: var(--text-color) !important;}
.cat label input + span{color: var(--text-color);}

.cat input:checked + span {
    color: var(--text-color);
    text-shadow: 0 0  6px rgba(0, 0, 0, 0.8);
}
input:checked + span{background-color: var(--navy-color);}

.channel{	widht:100%;
			display: flex;
			flex-wrap:no-wrap;
			margin:10px;
}

.chnam{
    display: flex;
    align-items: center;
}

.rngval {
  -webkit-appearance: none;
  margin: auto 10px;
  width: 80%;
  height: 5px;
  border: none; 
  background: var(--navy-color);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.rngval::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: var(--text-color);
  cursor: pointer;
}

.rngval::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--text-color);
  cursor: pointer;
}

.inpval{
    display: flex;
    align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
  margin: 10px 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: #CCC;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--navy-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--navy-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

